@use './utils.scss' as *;



.outerWrap{
    background: grey;
    height: 100%;
    min-height: 100%;
    .App{
        height: calc(100vh - 90px);
        background: $greyLight;
        display: flex;
        font-family: sans-serif;
    
    }
 }
 
.musicControls {
    background: $greyLighter;
    text-align: center;
    height: 90px;    
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    top: calc(100vh - 90px);
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: sans-serif;    
    .trackInfos{
        display: flex;
        .trackImage{
            img{
                width: 56px;
            }
        }
    }

    .controls{
        .controlBtn{
            .playBtn{
                width: 32px;
                height: 32px;
            }
        }
        .controlBar{
            .slider{
                -webkit-appearance: none;
                width: 300px;
                height: 5px;
                border-radius: 5px;  
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
                overflow: hidden;
            }
            .slider:hover {
                opacity: 1; 
                background: $greenColor;
              }
            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                -webkit-appearance: none;
                width: 0px;
                border-radius: 50%; 
                background: white;
                cursor: pointer;
				box-shadow: -340px 0 0 320px #1597ff;
            }
            .slider:hover::-webkit-slider-thumb {
                width: 13px;
                height: 13px;
            }
        }
    }
}