@use './utils.scss' as *;



.outerWrap{
    height: 100%;
 
    .main{
        display: flex;
 
        .App{
            margin: 0;
            // height: 100vh;
            height: fit-content;

            // min-height: calc(100vh - 90px);
            background: $greyLight;
            width: 100%;
            flex-direction: row;
            font-family: sans-serif;
        
        }
    }
 }

.musicControls {
    background: $greyLighter;
    text-align: center;
    height: 90px;    
    display: flex;
    position: fixed;
    width: 100%;
    top: calc(100vh - 90px);
    align-items: center;
    justify-items: center;
}