@use './utils.scss' as *;



.outerWrap{
    background: grey;
    height: 100%;
    min-height: 100%;
    .App{
        height: calc(100vh - 90px);
        background: $greyLight;
        display: flex;
        font-family: sans-serif;
    
    }
 }
 
.musicControls {
    background: $greyLighter;
    text-align: center;
    height: 90px;    
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    top: calc(100vh - 90px);
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: sans-serif;    
    border-top: 1px solid gray;
    .trackInfos{
        display: flex;
        .trackImage{
            margin-left: 16px;
            margin-right: 14px;
            img{
                width: 56px;
            }
        }
        .infos{
            align-self: center;
            text-align: left;
            .trackName{
                font-size: 15px;
                
            }
            .trackArtist{
                font-size: 12px;
                color: $greyTextLight;
            }
        }
    }

    .controls{
        .controlBtn{
            margin-bottom: 10px;
            margin-top: 10px;
            .playBtn{
                width: 32px;
                height: 32px;
            }
        }
        .controlBar{
            margin-bottom: 5px;
            .slider{
                width: 600px;
                height: 5px;
                border-radius: 5px;  
                background: grey;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;

            }
            .slider:hover {
                opacity: 1; 
                background: $greenColor;
              }
 
        }
    }
}