@use '../../utils.scss' as *;

.NavBar {
    min-width: 276px;
    height: 100%;
    
    background: $greyDark;
    .logo{
        padding: 24px;
        padding-bottom: 21px;
        svg{
            max-width: 131px;
        }
    }
    ul {
        margin: 0;
        padding: 0px 8px;
        a{
            text-decoration: none;
        }
        li {
            font-weight: bold;
            font-family: sans-serif;
            color: $greyTextLight;
            list-style-type: none;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            display: flex;
            &.active{
                background: $greyText;
                color: white;
            }
            
            &:hover{
                color: white;
            }
            align-content: center; 
            .icon{
                svg{
                    padding-left: 11px;
                    padding-top: 3px;

                }
            }
            .title{
                margin-left: 16px;
                text-align: center;
                font-size: 0.9rem;
                padding-top: 7px;              
            }
        }
    }

    .cookies {
        font-size: 0.6rem;
        color: $greyText;
        text-align: center;
        margin-top: calc(70vh);
        padding: 1rem;
        span{
            display: block;
        }
    }
}